doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible', content='ie=edge')
    link(rel='stylesheet', href='/dist/bundle.css')
    title Payment Success
  body
    .thankYouPageBackground
      .thankYouBackground
        != h.icon('topLine')
        != h.icon('tlPhone')        
        .section1
          .section1Text
            .thankYouBook You just subscribed to
            .oneFortyCanvasText.thankYouRounded.bigScreenThankYou
              | The Original Plan
            .thankYouBook by Websites For Musicians
          != h.icon('paymentIcon')
        .section2
          .section2a.margin2a
            .thankYouRounded.visa #{brand}
            .thankYouRounded.visa $#{dollar} / mo
          .section2a
            .dots
              .first12 .... .... ....
              .last4 #{last4}
            .thankYouBook #{format(new Date(),'DD/MM/YYYY')}
        .section3
          .thankYouRounded.thankYouCTA
            | Thanks for your order. Please email   
            span.blueThankYouCTA harrydry1996@gmail.com
            |  with your chosen domain name eg. 
            span.blueThankYouCTA #{name}.com
            |  to get started
        .section4
          .thankYouBook.thankYouCTA.extraWidth
            | If you'd rather talk on Telegram or WhatsApp please message me on +447463686633
    block scripts
      script(src="/dist/bundle.js")